*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.bg-container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(207, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;   
}
.box{
    height: 503px;
    width: 539px;
    background-image: url("/four\ season.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}
button{
    height: 40px;
    width: 110px;
    margin: 5px;
    border-radius: 10px;
    font-size: 15px;
    
}
.btn1{
    background-color:rgb(93, 216, 93);
}
.btn2{
    background-color: rgb(150, 75, 150);
}
.btn3{
    background-color:orange;
}
.btn4{
    background-color: skyblue;
}

h1{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}